* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bdy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.card img {
  width: 250px;
  height: 350px;
}
